{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div style="max-width: 800px; margin: 0 auto; padding: 20px;">

<h2>Carnaval Correntino: El Espectáculo de Colores y Ritmo en Corrientes</h2>

<p>El Carnaval Correntino es uno de los eventos más vibrantes y esperados del año en la provincia de Corrientes, Argentina. Conocido por su energía contagiosa, deslumbrantes trajes y desfiles llenos de vida, este carnaval es una celebración de la cultura y la tradición correntina que atrae a visitantes de todas partes del mundo.</p>

<p>Durante semanas, las calles de Corrientes se llenan de música, danza y alegría, donde comparsas y escuelas de samba compiten por el título de campeonas del carnaval. Cada comparsa presenta un espectáculo único, con elaboradas carrozas, vestuarios brillantes y coreografías que cuentan historias fascinantes a través del movimiento y el color.</p>

<br><br>

<div class="image-placeholder" style="height: 220px; width: 340px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/carnaval/desfile.jpg' %}" alt="Desfile del Carnaval Correntino" style="max-width: 100%; height: auto;">
</div>
<br><br>

<p>El Carnaval de Corrientes no es solo un espectáculo visual; es una experiencia inmersiva que invita a todos a ser parte de la fiesta. La música de las baterías resuena en cada rincón, mientras los bailarines, con su energía incansable, contagian a la multitud con su entusiasmo. El público, tanto locales como turistas, se unen en la celebración, llenando las calles de aplausos, risas y asombro.</p>

<br><br>

<div class="image-placeholder" style="height: 320px; width: 320px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/carnaval/traje.jpeg' %}" alt="Bailarinas del Carnaval Correntino" style="max-width: 100%; max-height: 100%; height: auto; width: auto;">
</div>

<br><br>

<p>Uno de los aspectos más destacados del Carnaval Correntino es la participación comunitaria. Cada barrio y comunidad local se organiza durante meses para preparar sus comparsas y presentaciones, lo que refuerza el sentido de identidad y pertenencia entre los habitantes. Es una verdadera muestra de la pasión y dedicación con la que Corrientes celebra su patrimonio cultural.</p>

<br><br>

<div class="image-placeholder" style="height: 240px; width: 320px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/carnaval/carroza.jpg' %}" alt="Carrozas" style="max-width: 100%; height: auto;">
</div>

<br><br>

<p>Visitar Corrientes durante el carnaval es adentrarse en una fiesta sin igual, donde la tradición y la modernidad se encuentran en una explosión de alegría. Es una oportunidad para conocer la cultura local en su máxima expresión, y para ser testigo de uno de los carnavales más importantes de Argentina.</p>

</div>

{% endblock %}
