{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div style="max-width: 800px; margin: 0 auto; padding: 20px;">

<h2>Reserva del Iberá: Un Tesoro Natural en Corrientes, Argentina</h2>

<p>La Reserva del Iberá es uno de los humedales más importantes y extensos del mundo, ubicado en el corazón de la provincia de Corrientes, Argentina. Este paraíso natural es hogar de una biodiversidad asombrosa, que incluye especies emblemáticas como el yacaré, el ciervo de los pantanos, el aguará guazú y más de 350 especies de aves.</p>

<p>Con una superficie de más de 1,3 millones de hectáreas, la Reserva del Iberá ofrece un entorno único para los amantes de la naturaleza y la aventura. Los visitantes pueden explorar sus paisajes a través de actividades como el avistamiento de fauna, paseos en lancha, safaris fotográficos y senderismo por sus diversas rutas.</p>

<br><br>

<div class="image-placeholder" style="height: 220px; width: 320px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/ibera/paisaje.jpg' %}" alt="Reserva Natural del Iberá" style="max-width: 120%; height: auto;">
</div>
<br><br>
<p>Una de las experiencias más destacadas en Iberá es la posibilidad de observar a los animales en su hábitat natural. Desde las orillas de las lagunas, es común ver yacarés asomando entre los juncos, ciervos pastando tranquilamente y una variedad de aves volando en el cielo. La tranquilidad y la pureza de este entorno hacen del Iberá un lugar ideal para desconectar del mundo urbano y conectarse con la naturaleza.</p>

<br><br>

<div class="image-placeholder" style="height: 320px; width: 320px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/ibera/fauna.jpg' %}" alt="Reserva Natural del Iberá" style="max-width: 100%; max-height: 100%; height: auto; width: auto;">
</div>

<br><br>

<p>Además de su riqueza natural, la Reserva del Iberá también es un ejemplo de conservación y ecoturismo sostenible. Las comunidades locales participan activamente en la protección del área y en la promoción de prácticas turísticas que respeten el medio ambiente, permitiendo que el Iberá se mantenga como un refugio prístino para las futuras generaciones.</p>

<div class="image-placeholder" style="height: 220px; width: 320px; background-color: #f0f0f0; text-align: center; line-height: 220px; margin: 0 auto; border: 3px solid #000;">
    <img src="{% static 'AppFinal/assets/img/ibera/caballos.jpg' %}" alt="Reserva Natural del Iberá" style="max-width: 120%; height: auto;">
</div>
<br><br>
<p>Visitar la Reserva del Iberá es sumergirse en un mundo donde la naturaleza reina y la vida fluye al ritmo de sus aguas. Es una invitación a descubrir la belleza oculta de Corrientes y a ser parte de un esfuerzo global por preservar uno de los ecosistemas más valiosos de nuestro planeta.</p>

</div>

{% endblock %}
